@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

$font-primary: 'Lato',Arial, sans-serif;
$primary: #fc7fb2;

body{
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #f8f9fd;
	color: lighten($black,50%);
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}

.bg-primary{
	background: $primary !important;
}

.ftco-section{
	padding: 0 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: $black;
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.content {
  overflow: none;
  width: 100%;
  max-width: 500px;
  padding: 0px 0;
  height: 500px;
  position: relative;
  margin: 20px auto;
  background: $primary;
}

/*  Events display */
.events-container {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  float: left;
  margin: 0px auto; 
  display: inline-block; 
  padding: 0px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0;
  @include media-breakpoint-down(sm){
  	width: 100%;
  	height: auto;
  }
}
.events-container:after{
    clear:both;
}
.event-card {
  padding: 20px 0;
  max-width: 100%;
  display: block;
  background: $primary;
  border: none !important;
  margin: 20px;
  color: $white;
  margin-left: 12px;
  border-radius: 4px;
  margin: 0;
}
.event-count, .event-name, .event-cancelled {
    display: inline;
    padding: 0 10px;
    font-size: 1rem;
}
.event-count {
    color: $primary;
    text-align: right;
}
.event-name {
    padding-right:0;
    text-align: left;
}
.event-cancelled {
    color: $primary;
    text-align: right;
}

/*  Calendar wrapper */
.calendar-container  { 
  position: relative;
  margin: 0 auto; 
  height: 100%;
  width: 100%;
  background: #fff;
  font: 13px Helvetica, Arial, san-serif; 
  display: inline-block; 
  padding: 20px;
  float: right;
  @include media-breakpoint-down(md){
  	padding: 0;
  }
  @include media-breakpoint-down(sm){
  	padding: 0;
  	width: 100%;
  }
}
.calendar-container:after{
    clear:both;
}
.calendar {
    // display: table;
    width: 100%;
    padding: 0;
}

/* Calendar Header */
.year-header { 
  background: $white;
  height: 40px; 
  text-align: center;
  position: relative; 
  color:#fff; 
  border-top-left-radius: 3px;
  margin-top: 20px;
} 
.year-header span { 
  display:inline-block; 
  font-size: 20px;
  line-height:40px; 
  color: $black;
}
.left-button, .right-button { 
  cursor: pointer;
  width:28px; 
  text-align:center; 
  position:absolute; 
  color: lighten($black,80%) !important;
  @include transition(.3s);
  font-size: 14px !important;
  &:hover{
  	color: $primary !important;
  }
} 
.left-button { 
  left:0; 
} 
.right-button { 
  right:0; 
  top:0; 
} 

/* Buttons */
.button{
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 1rem;
  border-radius: 25px;
  padding: 0.65rem 1.9rem;
  transition: .2s ease all;
  color: white;
  border: none;
  background: $primary;
  &.button-white{
  	background: $white;
  	color: $black;
  }
  &:focus{
  	box-shadow: none;
  	outline: none;
  }
}
#cancel-button {
    background: $black;
}
#add-button {
  display: block;
  position: absolute;
  right:20px;
  bottom: 20px;
}
#add-button:hover, #ok-button:hover, #cancel-button:hover {
  transform: scale(1.03);
}
#add-button:active, #ok-button:active, #cancel-button:active {
  transform: translateY(3px) scale(.97);
}

/* Days/months tables */
.days-table, .dates-table, .months-table { 
    border-collapse:separate; 
    text-align: center;
} 
.day { 
  height: 26px;
  width: 26px;
  padding: 0 10px;
  line-height: 26px; 
  border: 2px solid transparent;
  text-transform:uppercase; 
  font-size:10px; 
  color:#000; 
} 
.month {
  cursor: default;
  height: 26px;
  width: 26px;
  padding: 0 2px;
  padding-top:10px;
  line-height: 26px; 
  text-transform:uppercase; 
  font-size: 11px; 
  color: lighten($black,80%); 
  transition: all 250ms;
  @include media-breakpoint-down(md){
  	font-size: 8px;
  }
  @include media-breakpoint-down(sm){
  	font-size: 10.5px;
  }
}
.active-month {
  font-weight: 700;
  // font-size: 14px;
  color: $primary;
}
.month:hover {
    color: $primary;
}

/*  Dates table */
.table-date {
  cursor: default;
  color:#2b2b2b; 
  height:26px;
  width: 26px;
  font-size: 15px;
  padding: 10px;
  line-height:26px; 
  text-align:center; 
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 250ms;
  position: relative;
  z-index: 0;
  &:before{
  	position: absolute;
  	top: 50%;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	transform: translateY(-50%);
  	width: 40px;
  	height: 40px;
  	content: '';
  	margin: 0 auto;
  	border-radius: 50%;
  	z-index: -1;
  }
}
.table-date:not(.nil):hover { 
    // border-color: $primary;
}
.event-date {
  border-color:$primary;
  background: $primary;
  color: $white;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		content: '';
		background: $warning;
		border: 1px solid white;
	}
}
.active-date{ 
  // background: $primary;
  color: #fff;
  &:before{
  	background: $primary;
  }
}
.event-date.active-date {
    background: transparent;
    border: none;
}

/* input dialog */
.dialog{
  z-index: 5;
  background: $primary;
  position:absolute;
  width:100%;
  height: 100%;
  bottom: 0;
  left:0;
  display:none;
  @include media-breakpoint-down(sm){
  	width: 100%;
  }
}
.dialog-header {
  margin: 20px;
  margin-top: 30px;
  color:#fff;
  text-align: center;
  font-size: 28px;
}
.form-container {
  margin-top:20%;
}
.form-label {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
  color:rgba(255,255,255,.9);
}
.input {
  border:none;
  background: none;
  border: 1px rgba(255,255,255,.2) solid;
  display:block;
  margin-bottom:30px;
  width: 300px;
  height: 40px;
  text-align: center;
  transition: border-color 250ms;
  border-radius: 40px;
  color: $white;
}
.input:focus {
  outline:none;
  border-color: #fff;
}
.error-input {
    border-color: $primary;
}
